body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    background-image: url(../images/white_brick_wall.png);
}
/*
    This is a CSS comment
    Shortcut for adding the comment Control + / or Command + /
*/
h1 {
    color: white;
}
p {
    background-color: lightblue;
}
/* Selecting multiple elemetns to add same styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
}
/* Selecting child elements */
nav ul {
    list-style: none;
}
/* Selecting child elements multiple level */
nav ul a {
    color: darkslategray;
    text-decoration: none;
    font-size: 1.75rem;
    /* 1.75rem = 1.75 x 16 = 28px */
}
/* Selecting HTML element with class name */
.orange-link {
    background: darkslategray;
    color: orange;
    text-decoration: none;
}
/* Selecting HTML elment with id value */
#tow {
    background: orange url(../images/bread.jpg) no-repeat center center;
    background-size: cover;
    /* adding styles to make text readable */
    color: white;
    /* font-size: 24px; */
    /* updating font size to rem */
    font-size: 1.5rem;
    /* 1.5rem = 1,5 x 16px = 24px */

    /* adding padding to add space between the border and content */
    padding: 1em;
    /* 1em = 1 x 24px = 24px */
    width: 50vw;
}
.large-text {
    font-size: 20px;
}
/* Child Selector or Direct Child Selector 
   Selecting only the p directly inside the article*/
article>p {
    font-size: 24px;
    font-weight: bold;
    /* lighter, normal, bold, bolder or 100, 200, 300, 800 */
    line-height: 1.5;
    text-transform: capitalize;
    text-align: center;
}

/* Ajacent sibling selector
   Selecting only the ul that is adjacent to a h3 */
h3+ul {
    border: 1px solid black;
}
/* Attribute selector */

[href="#tow"] {
    font-weight: bold;
}

[target="_blank"] {
    text-transform: uppercase;
}
/* Using pseudo classes
   Styling navigation */
nav ul a,
nav ul a:link,
nav ul a:visited {
    background: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    /* horizontal vertical blur spread color */
    box-shadow:0 0 4px 2px black;
}
/* Position related selectors
    first child */
aside ul li:first-child{
    font-weight: bold;
}
/* last child */
section ol li:last-child{
    font-weight: bold;
}

/* collapse table border into one */
table{
    border-collapse: collapse;
}

/* nth-child selector with n 
    where n is 0, 1, 2, 3, ... until the number of elements */
tbody tr:nth-child(even){
    background-color: #d5836c;
}

/* the follow is same as this table
    table th
    table td{} */
table th:nth-child(n),
table td:nth-child(n){
    /* hex color value with 3 characters */
    border: 1px solid #000;
}
/* 2n+1 if n is 0,1,2,3 ... then 2n+1 will be 1,3,5,7... */
table td:nth-child(2n+1){
    background-color: rgba(0,0,0,0.2);
}

/* Cascade */
footer {
    background-color: aqua;
}

/* specificity: 0001 */
footer {
    background-color: red;
}
/* specificity: 0010 */
.site-footer {
    background-color: coral;
}
/* specificity: 0011 */
footer.site-footer {
    background-color: teal;
}

/* 0102 */
/* #tow dl dt {} */

/* 0112 */
/* #tow dl dt.first {} */

section p{
    width: 50%;
    height: 100px;

    /* padding: 1em; */
  /* top right bottom left */
  /* padding: 1em .5em 1em .5em; */

  /* top-bottom left-righht */
  padding: 1em .5em;
 
    /* margin: 2em; */
    margin: -1em 2em 2em 2em;

    /* border: 2px solid black */
    border-left: 6px solid black;
}